---
layout: page
title: Ph.D. Candidate in Human-Computer Interaction
subtitle: School of Computer Science, University of Waterloo, Canada
use-site-title: true
---


<div class="about-me">
 <p>Hi! I'm a 4th year Ph.D. candidate in the <a href="http://hci.cs.uwaterloo.ca/">Human-Computer Interaction Lab</a> at the University of Waterloo, advisded by <a href="http://edithlaw.ca/">Dr. Edith Law</a>. My research involves designing interactions of conversational agents, from chatbots to physically-embodied robots, that promote social experiences.</p>
 <p>In 2016 I graduated with an <a href="http://www.rug.nl/masters/human-machine-communication/">M.Sc. in Human-Machine Communication</a> <i>cum laude</i>, from the University of Groningen (Institute of Artificial Intelligence and Cognitive Engineering, now the <a href="https://www.rug.nl/research/bernoulli/research/departments">Bernoulli Institute</a>). I was advised by <a href="https://mkvanvugt.wordpress.com/">Dr. Marieke van Vugt</a> and <a href="https://www.dbaskent.org/">Dr. Deniz Başkent</a>, and my thesis focused on improving speech perception for cochlear implant wearers. Alongside my master's I completed the <a href="https://www.rug.nl/education/honours-college/htsm-masterprogramme/">Honours Master</a> High Tech Systems and Materials - a joint collaboration between the University of Groningen & Philips.</p>
 <p>In 2014 I graduated with a <a href="https://cogsys.ubc.ca/about-cogs-2/">B.Sc. in Cognitive Systems</a>: Cognition and Brain, from the University of British Columbia.</p> 

<p><b>Awards</b><br>
2019: <a href="https://www.nserc-crsng.gc.ca/Students-Etudiants/PG-CS/BellandPostgrad-BelletSuperieures_eng.asp">Postgraduate Scholarship-Doctoral (PGS D)</a>, Natural Sciences and Engineering Research Council of Canada (NSERC)<br>
2014: <a href="https://www.rug.nl/alumni/support-research-and-education/projects/avril-mcdonald-memorial-fund">Avril McDonald Prize</a>, University of Groningen</p>
</div>


<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
